// Style du bouton secret, caché et en bas a droite de l'écran
.secret {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 40px;
    background-color: transparent;
    border: 0;
}