$doc-background-color: rgb(5, 5, 10); // Couleur de base du fond d'écran
$secondary-color: rgb(0, 0, 0); // Couleur des divs principaux
$text-color: gray; // Couleur des fonts de la page

$font-stack: 'Segoe UI', sans-serif; // Font de base de la page